<th align="left"><%= l(:field_project) %></th>
<th align="left"><%= l(:field_issue) %></th>
<th align="left"><%= l(:field_activity) %></th>
<th align="left"><%= l(:field_hours) %></th>
<th align="left"><%= l(:field_comments) %></th>
<th></th>
