.d-contextual {text-align: right; white-space: nowrap; line-height:1.4em;margin-top:5px; margin-bottom:10px; padding-left: 10px; font-size:0.9em;}
.dtime_head th {text-align: left; }
.dtime_head td {text-align: right; }
